@model IEnumerable<EcommerceLM.Models.Products>

@{
    ViewBag.Title = "Administracion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administración de Productos</h2>

<p>
    @Html.ActionLink("Nuevo producto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <span>No. producto</span>
        </th>
        <th>
            <span>Nombre del producto</span>
        </th>
        <th>
            <span>Precio</span>
        </th>
        <th>
            <span>Oferta</span>
        </th>
        <th>
            <span>Categoria</span>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @{
                if (item.Sale == true)
                {
                    <span>Si</span>
                }
                else
                {
                    <span>No</span>
                }
            }


        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.ProductID }) |
            @Html.ActionLink("Details", "Details", new {  id=item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProductID }, new {@class = "DeleteMesagge" })
        </td>
    </tr>
}

</table>

@section scripts{
    <script>
        $(".DeleteMesagge").click(function (event) {
            if (!confirm('¿Estas seguro que deseas eliminar?')) {
                event.preventDefault();
            }
        });

    </script> 
}